include header.pug

div(class='container')
    br
    div(class="row")
        div(class="col-sm-2")
        div(class="col-sm-4")
            h3 Type your text and hit save!
        div(class="col-sm-3")
        div(class="col-sm-3")
            h4 Saved pastes

    div(class="row")
        div(class="col-sm-1")
        div(class="col-sm-6")
            textarea(name="new-paste")
        div(class="col-sm-1")
        div(class="col-sm-3")
            div(id="paste-list")
        div(class="col-sm-1")
    br

    div(class="row")
        div(class="col-sm-1")
        div(class="col-sm-6")
            center
                button(class="primary" id="save") Save
        div(class="col-sm-1")
        div(class="col-sm-3")
            center
                button(class="secondary" id="delete") Delete selected
        div(class="col-sm-1")



script(src="/js/jquery.js")
script(src="/js/index.js")