include header.pug

div(class='container')
    br
    div(class="row")
        div(class="col-sm-2")
        div(class="col-sm-4")
            h3 Type your text and hit save!
        div(class="col-sm-3")
        div(class="col-sm-3")
            h4 Saved pastes

    div(class="row")
        div(class="col-sm-1")
        div(class="col-sm-6")
            textarea(id="new-paste")
        div(class="col-sm-1")
        div(class="col-sm-3")
            div(id="paste-list")
        div(class="col-sm-1")
    br

    div(class="row")
        div(class="col-sm-1")
        div(class="col-sm-6")
            center
                a(href="#saveForm" rel="modal:open")
                    button(class="primary" id="preSave") Save
        div(class="col-sm-1")
        div(class="col-sm-3")
            center
                button(class="secondary" id="delete") Delete selected
        div(class="col-sm-1")


div(id="saveForm" class="modal")
    div(class="container")
        div(class="row")
            div(class="col-sm-12")
                h3 Before you save,
        div(class="row")
            div(class="col-sm-12")
                input(type="text" id="filename" placeholder="Filename...")
        div(class="row")
            div(class="col-sm-12")
                input(type="text" id="expirationDate" placeholder="Expiration...")
        div(class="row")
            div(class="col-sm-12")
                a(href="#saveForm" rel="modal:close")
                    button(class="primary" id="save") Save


script(src="/js/jquery.js")
script(src="/js/jquery.modal.min.js")
script(src="/js/jquery.datetimepicker.full.min.js")
script(src="/js/index.js")