* {
    font-family: monospace;
}
body {
    background-color: azure;
}
.page-header {
    background-color: dodgerblue;
    padding: 1%;
    width: 100%;
    text-align: center;
    color: white;
    font-style: oblique;
}
#paste-list {
    height: 700px;
    overflow-y: scroll;
    border: 1px solid dodgerblue;
    padding: 1%;

}
textarea {
    width: 100%;
    height: 100%;
    resize: vertical;
    border: 1px solid dodgerblue;
}
h3 {
    text-align: center;
}
#preSave {
    width: 30%;
}
#preSave a {
    color: white;
}
#preSave a:hover {
    text-decoration: none;
}
#save {
    width: 50%;
}
#delete {
    width: 40%;
}
.box {
    padding: 2%;
    margin-top: 2%;
    transition: .3s;
}
.box:hover {
    background-color: lightskyblue;
    transition: .2s;
}
.box a {
    margin-left: 5%;
}